<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Honeywell" value="https://artifactory-na.honeywell.com/artifactory/api/nuget/sert-nuget-stable-local" />
		<add key="ISOM" value="http://10.78.233.186/nuget/Default" /> 
    </packageSources>
</configuration>