<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logconsole" xsi:type="Console" />
    <target name="debug"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log" 
            layout="${longdate}|${level:uppercase=true}|${callsite:includeNamespace=false}|${callsite-linenumber}|${message}" 
            archiveFileName="${HOMEDRIVE}/ProgramData/Honeywell/Security Console/Sso/log/archives/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            ArchiveEvery="Hour"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="52428800"
            concurrentWrites="true"
            keepFileOpen="false"
            maxArchiveFiles ="20"
            />
    <target name="error"
            xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${callsite:includeNamespace=false}|${callsite-linenumber}|${message}${newline}${exception:format=toString,data:exceptionDataSeparator=\r\n}"
            archiveNumbering="DateAndSequence"
            ArchiveEvery="Hour"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="52428800"
            concurrentWrites="true"
            keepFileOpen="false"
            maxArchiveFiles ="20"
            />
  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="debug" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>